[Unit]
Description=Rpi CPU temp mqtt publisher
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /usr/bin/local/rpi-cpu-temp-mqtt/main.py

[Install]
WantedBy=multi-user.target
